__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis

# Dataset folders (too large for git)
final_dataset_raw/
HMS_ML/train/
HMS_ML/test/
HMS_ML/val/

# Jupyter notebooks
*.ipynb